:root {
    --bg-main: #1d1e25;
    --bg-box: #fff1;
    --bg-border: #fff1;
}

* {
    /* user-select: none; */
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    border-radius: 0;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--bg-main);

    background-image: url(assets/bg-default.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.window {
    background-color: #20202066;
    outline: 2px solid #88888840;
    outline-offset: -2px;
    border-radius: 24px;
    corner-shape: superellipse(1.5);

    padding: 24px;
    text-align: center;
    margin: 36px;

    width: 800px;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
}




.window-title {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
}
.window-title .title {
    text-align: left;
    margin: 0;

    color: white;
    font-size: 40px;
    font-weight: 200;
}
.window-title .window-buttons {
    margin: 0;
    user-select: none;
    margin-top: auto;
    margin-bottom: auto;
}




.window-search-div {
    display: flex;
    flex-direction: row;
    margin: 8px 12px;
    font-size: 20px;
    font-weight: 400;
    gap: 8px;
}

#searchbox_input {
    background: #18181C80;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
    transition: 0.2s ease;
    border-radius: 8px;
    outline: 2px solid #88888840;
    outline-offset: -2px;
}
#searchbox_input:hover, #searchbox_input:focus {
    background: #101013;
}

#searchbox_button,
#searchbox_clear {
    background: #18181C80;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
    transition: 0.2s ease;
    border-radius: 8px;
    outline: 2px solid #88888840;
    outline-offset: -2px;
}
#searchbox_button:hover, #searchbox_button:focus,
#searchbox_clear:hover, #searchbox_clear:focus {
    background: #101013;
    cursor: pointer;
}




.window-content {
    padding: 24px;
    width: calc(72px * 8);
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0px;
    
}
.window-subcontent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 0px;
}




a {
    text-decoration: none;
}
.fav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: none;
    width: 72px;
    height: 72px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    user-select: none;
    transition: 0.2s ease;
    box-sizing: border-box;
}
.fav:hover {
    /* filter: brightness(150%); */
    border-radius: 4px;
    background-color: #fff1;
}
.fav img {
    position: relative;
    color: white;
    margin: 8px auto 4px auto;
    padding: 0;
    height: 32px;
    border-radius: 3px;
}
.fav p {
    position: relative;
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin: 0 auto auto auto;
    padding: 0;
}
